$background: #333;

body {
  background-color: $background;
}

#app {
  padding: .9375rem;
  padding-left: 10px;
  padding-right: 10px;
}

.icon {
  display: flex;
  height: 75%;
  align-items: center;
  font-size: 52px;

  &:before {
    margin: 0 auto;
  }
}
